# GNU Emacs temporary files

ChangeLog
\#*
.\#*
.php_cs_cache
TAGS
*~
/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log*
node_modules
public/swagger-ui
.vagrant
lessphp_*.list
/local/config/vufind/config.ini
/local/config/vufind/Aleph.ini
/local/httpd-vufind.conf
/module/muni
/nbproject
